/* Estilos generales */
body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #20304d, #3c5d83);
    margin: 0;
}

/* Contenedor principal */
.calculator-container {
    text-align: center;
}

.mode-toggle {
    margin-bottom: 20px;
}

/* Botones de cambio de modo */
.mode-toggle button {
    background: #ff9500;
    color: white;
    border: none;
    padding: 10px 10px;
    font-size: 1rem;
    cursor: pointer;
    margin: 5px;
    border-radius: 5px;
    transition: background 0.3s;
}

.mode-toggle button:hover {
    background: #e08c00;
}


/* Contenedor de la calculadora */
.calculator {
    background: #2b2e33;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    max-width: 320px;
}

.hidden {
    display: none;
}


/* Pantalla */
.display input {
    width: 100%;
    height: 60px;
    font-size: 2rem;
    text-align: right;
    padding-top: 20px;
    border: none;
    background: #202125;
    color: #fff;
    border-radius: 5px;
    margin-bottom: 15px;
}

/* Botones */
.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    height: 60px;
    font-size: 1.5rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    background: #3b3e45;
    color: white;
    transition: all 0.3s ease;
}

/* Estilo de botones especiales */
.operator {
    background: #ff9500;
}

.equal {
    background: #28a745;
    grid-column: span 2;
}

.equal-ci {
    background: #28a745;
}

/* Efectos de hover */
button:hover {
    background: #55585f;
}

.operator:hover {
    background: #e08c00;
}

.equal:hover {
    background: #218838;
}
